@{
    Layout = null;
}
<html lang="en" data-framework="javascript">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="A TodoMVC written with JavaScript es5 features.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoMVC: JavaScript Es5</title>
    
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <section class="todoapp">
        <div hx-trigger="load" hx-get="/Todo/TodoItems" id="todo-board">
        </div>
    </section>
    <footer class="info">
        <p>Double-click to edit a todo</p>
        <p>Created by <a href="http://twitter.com/oscargodson">Oscar Godson</a></p>
        <p>Refactored by <a href="https://github.com/cburgmer">Christoph Burgmer</a></p>
        <p>Maintenanced by the TodoMVC team</p>
        <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
</body>

</html>
