@model TodoItem;

<li data-id="@Model.Id" id="todo-item-@Model.Id">
  <div class="view">
    <input class="toggle" type="checkbox"><label>@Model.Title</label>
    <button class="destroy" hx-vals='{"id": @Model.Id }' hx-get="/Todo/DeleteModal/@Model.Id" hx-target="#modals-here"></button>
  </div>
</li>
